html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#top_row{
  margin-top: 5%;
}

#map {
  height: 50%;
}

#photosShow img{
  max-width:100px;
  heigth:100px;
}

.locationItems{
  font-size: 14px;
  color:#333;
}


#windowTool > img{
  max-height: 250px;
  max-width: 250px;
}
#picP{
  width:100%;


}
