html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#top_row{
  margin-top: 5%;
}

#map {
  height: 50%;
}

#photosShow img{
  max-width:100px;
  height:100px;
}

.locationItems{
  font-size: 14px;
  color:#333;
}


.showPics{
  display: flex;
   justify-content:space-between;
   flex-wrap: wrap ;
}

#flickrPhotos > img, #gettyPhotos >img {
  width: 50%;
  height: 50%;
}

#windowTool > img{
  max-height: 250px;
  max-width: 250px;
}
#picP{
  width:100%;


}
